body {
    font: 16px arial, helvetica, sans serif;
    background: url('http://toddaustin.com/v4/img/bg.png');
    margin: 0;
    padding:0;
}

header {
    display: block;
    border-bottom: 1px solid #fff;
    color:#ffc000;
    margin: 0;
    height: 110px;
    padding: 20px;
    background: #fff url('http://toddaustin.com/moosic/images/studio.jpg') no-repeat 15% top fixed;
}

h1 {
    margin: 0 0 10px;
    padding: 0;
    font-size: 3em
}

h3 {
    color: #01579B;
    margin: 20px 0;
    padding: 0;
}

section {
    margin: 0 25px;
}

/******************************************************************************
 * Buttons ********************************************************************
 ******************************************************************************/
.button {
    background-color: #0277BD;
    border:none;
    border-radius: 3px;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font: inherit;
    margin: 0;
    padding: 10px 25px;
    position: relative;
    text-decoration: none;
}

.button:hover {
    background-color: #03A9F4;
}

.button:active {
    background-color: #01579B;
    box-shadow: inset 1px 3px 8px rgba(0, 0, 0, 0.5);
    color: #fff;
    transform: translateY(2px);
}

.button:focus {
    outline: none;
}

.button-sm {
    background-color: #fff;
    border: 1px solid #0277BD;
    box-shadow: none;
    color: #0277BD;
    font-size: .7em;
    padding: 5px 15px;
    text-transform: uppercase;
}

.button-sm:hover {
    color:#fff;

}

.button-md {
    font-size: .9em;
    padding: 10px 20px;
}

.button-lg {
    font-size: 1.5em;
    padding: 20px 50px;
}

.back {
    background-color: #fff;
    border: 1px solid #fff;
    border-radius: 30px;
    color: #0277BD;
}

.back:hover, .back:active {
  background-color: #ffc000;
    border: 1px solid #fff;
    color: #01579B;
}